* {
  margin: 10px 10px 10px 10px;
  background-color: burlywood;
}

#home {
  margin: -1px -1px 0 -1px;
  padding-bottom: 1cm;
  background-color: lightblue;
}

header {
  font-size: 50px;
  color: p#800080;
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav button {
  background-color: palegreen;
  color: red;
  margin: 10px;
  padding: 10px;
  border-radius: 1mm;
  font-size: 20px;
  text-decoration: none;
}

nav button:hover {
  color: white;
  background-color: purple;
  font-weight: bold;
  cursor: pointer;
}

#all-conversion-sections {
  display: grid;
  border: 2px solid black;
  justify-content: center;
}

section figure {
  float: left;
  width: 200px;
  justify-self: auto;
}
figure figcaption {
  text-align: center;
  color: black;
  font-size: 17px;
}

fieldset button {
  font-size: 20px;
  border: transparent;
  border-radius: 40px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
}

fieldset button:hover {
  cursor: pointer;
}
