body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainDiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 50px;
  margin: 200px;
  margin-bottom: 20px;
  border-radius: 25px;
  text-align: center;
}

#result {
  color: red;
}
